canvas {
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 5%);
  z-index: -1;
}

html, body {
  background-color: black;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-size: 24px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 10px;
  color: #33302a;
  text-transform: uppercase;
}

button:hover {
  color: #0ea9ec;
}

audio {
  top: 60%;
}
